.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: 8px;
}

tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
